* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

body {
  background: linear-gradient(#96bff1, #f8fcff);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  height: 60px;
  background: #d3e5ff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 25px;
  box-sizing: border-box;
  z-index: 1000;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links li a {
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0.541);
  padding: 10px 20px;
  border-radius: 20px;
  color: black;
  font-size: 14px;
  transition: 0.3s;
}

.nav-links a:hover {
  background-color: white;
  font-weight: bold;
}

main {
  display: flex;
  align-items: flex-start;
  gap: 30px;
  padding: 20px;
  margin-top: 80px;
  min-height: calc(100vh - 140px);
}

aside img {
    margin-top: 30px;
    padding: 30px;
    width: 100%;
    max-width: 220px;
    border-radius: 12px;
    box-shadow: 0 8px 18px rgba(0,0,0,0.2);
}

figcaption {
  text-align: center;
  margin-top: 8px;
  font-size: 14px;
  font-weight: 600;
  color: #333;
}

.container {
    display: flex;
    gap: 30px;
}

.content {
    flex: 3;
    padding: 20px;
    background: #96bff1;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.judul {
    text-align: center;
    font-size: 30px;
    margin-bottom: 25px;
    position: relative;
    letter-spacing: 1px;
}


article {
    background-color: rgba(255, 255, 255, 0.541);
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    transition: 0.3s;
}

article:hover {
  transform: translateY(-3px);
  box-shadow: 0 8px 18px rgba(0,0,0,0.15);
}

footer {
    background-color: #d3e5ff;
    color: rgb(10, 10, 10);
    text-align: center;
    padding: 12px;
}
